registry=https://registry.npmjs.org/
@nonamegeorge:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken={AUTH_TOKEN}

registry=https://registry.npmjs.org/
@nonamegeorge:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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